<h1>About Us</h1>
<p>
  el <a href="http://railstutorial.org/">Tutorial Ruby on Rails </a>
  es un proyecto para la creacion desde cero en el desarrollo web
  con <a href="http://rubyonrails.org/">Ruby on Rails</a>. Esta
  es el tutorial de sample ffacil ¿no?.
</p>