<h1>Ayuda</h1>
<p>
  Obten ayuda de rails en el siguiente enlace de la
  <a href="http://railstutorial.org/help">pagina de ayuda de Rails Tutorial</a>.
  para obtener ayuda en sample
  <a href="http://railstutorial.org/book">libro de Rails Tutorial</a>.
</p>